.login-page
{
    background-image: url('nature.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 20%;
    position: absolute;
    right: 20%;
    text-align: center;
    background-size: cover;
	position: center;
	top: 30%;
	margin-top: -50px;
}
* {
  box-sizing: border-box;
}
header{
	
}
.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
}
nav{
	top: 20%;
	margin-top: 100px;
	border:2px;
}
body {
	color: #FA8072;
	background-color:*#FFEFD5;
	font-weight: #FA8072;
	font-family: calibri;
}
footer{
	position: center;
	background-color:#e5e5e5;
	text-align:center;
	padding:10px;
	margin-top:100%;
	overflow: hidden;
}
form{
	font-family: calibri;
	size: above;
}

.texto {
	font-family: calibri;
	font-size: 11px;
	font-weight: #FA8072;
}
h2 {
	font-family: calibri;
	color: #FA8072;
	font-size:20px;
}
h1 {
	font-family: calibri;
	color: #FA8072;
}
.btn-danger {
	background-color: #FA8072;
}

#teste ul {
    padding:0px;
    margin:0px;
    list-style:none;
	text-align:center;
	border: 3px solid pink;
	border-style:dashed;
    background-color: #f3f3f3;
}

#teste ul li { 
	display: inline;
	}

#teste ul li a {
    padding: 14px 16px;
    display: inline-block;
	color: #666;
    background-color:##f3f3f3;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

#teste ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #F08080;
}
li a.active {
    color: white;
    background-color: #4CAF50;
}
